* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 10px;
}

#console {
    white-space: pre-wrap;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px; /* Use a specific font size */
}

.input-container {
    display: flex;
    align-items: baseline; /* Align items to the baseline */
    width: 100%;
}

a {
    color:white;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.prompt-symbol {
    font-size: 14px;
    line-height: 1.2;
}

input.console-input,
.command-text {
    background: black;
    color: white;
    border: none;
    outline: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 1.2;
    flex-grow: 1; /* Ensure both elements grow equally */
    display: inline-block;
    padding: 0;
    margin: 0;
}


.cool-effect {
    animation: glow 1s ease-in-out;
}

@keyframes glow {
    0% { color: inherit; text-shadow: none; }
    50% { color: #FFD700; text-shadow: 0 0 10px #FFD700; }
    100% { color: inherit; text-shadow: none; }
}

